alias vi='vim'
alias rs='rsync -avLPx --exclude "node_modules"'
alias gitinit='git init;git add .;git commit -m"first commit";git remote add origin $1;git push -u origin master'
alias greset='git reset --hard origin/master;git fetch --all'
alias lnpm='npm list -g --depth=0'
alias updnpm='sudo npm update --global --depth 9999'
alias downloads='cd /mnt/b/OneDrive/Downloads'
alias documents='cd /mnt/b/OneDrive/Documents'
alias home='cd ~'
alias windows='cd /mnt/c/Users/john'
alias k='kubectl'
alias d_i='docker images -f "reference=jpbutler2000/*"'
alias d_ps='docker ps -a |grep jpbutler2000'
alias d_psf='docker ps --filter "status=running" --format "table {{.ID}}\t{{.Image}}\t{{.Networks}}\t{{.Ports}}"'
alias k_docker_desktop='kubectl config use-context docker-desktop'
alias k_google_cloud='kubectl config use-context gke_ticketing-dev-276419_us-east1-b_ticketing-dev'
alias gcloud_get_creds='gcloud container clusters get-credentials'
alias gcloud_auth_login='gcloud auth login'
alias untar='tar -xvf'
alias whosts='cd /mnt/c/windows/system32/drivers/etc'
alias del_Identifiers='find . -type f -name "*Identifier" -delete'
